CompileFlags:
  Add:
    - "--target=avr"
    - "-mmcu=atmega328"
    - "-I."
    - "-I./avrlib"
    - "-I./midipal"
    - "-I./midi"
    - "-I/usr/avr/include"
    - "-DF_CPU=16000000UL"
    - "-DDISABLE_DEFAULT_UART_RX_ISR"
    - "-DUSE_SH_SEQUENCER"
    - "-std=gnu++11"
    - "-fno-exceptions"
    - "-fno-rtti"
    - "-ffunction-sections"
    - "-fdata-sections"
  Remove:
    - "-W*"
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add:
      - "modernize-*"
      - "performance-*"
      - "readability-*"
    Remove:
      - "modernize-use-trailing-return-type"
      - "readability-magic-numbers"
    CheckOptions:
      - key: readability-identifier-length.MinimumVariableNameLength
        value: 2
      - key: readability-function-cognitive-complexity.Threshold
        value: 25
Hover:
  ShowAKA: Yes
InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
Completion:
  AllScopes: Yes
